<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item with-sub" >              
                <a class="nav-link" >
                   <i class="icon ion-stats-bars"></i>
                    <span>Estadisticas</span>
                </a>
            </li>
            <li  class="nav-item with-sub">
                <a class="nav-link" >
                    <i class="icon ion-ios-filing-outline"></i>
                    <span>BALANZA</span>
                </a>
                 <div class="sub-item mega-dropdown" >
                    <div>
                        <div>                       
                         
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- col -->
               </li>
            <li  class="nav-item with-sub"  >
                 <a class="nav-link" data-toggle="dropdown-menu">
                <i class="icon ion-ios-analytics-outline"></i>
                <span>LAYOUTS</span>
              </a>
                <div class="sub-item">
                    
                </div><!-- dropdown-menu -->
            </li>
            <li  class="nav-item with-sub" >
                <a class="nav-link" data-toggle="dropdown-menu">
                <i class="icon ion-pricetag"></i>
                <span>PRODUCTOS</span>
              </a>
                <div class="sub-item">
                  
                </div><!-- dropdown-menu -->
            </li>
            <li  class="nav-item with-sub" >
               <a class="nav-link"  data-toggle="dropdown-menu" >
                <i class="icon ion-ios-gear-outline"></i>
                <span>ADMINISTRACION</span>
              </a>
                <div class="sub-item">
                   
                </div><!-- dropdown-menu -->
            </li>

        </ul>

    </div><!-- container -->
</div><!-- slim-navbar -->
