.cajainput {
    padding: 15px;
    background-color: rgba(246, 246, 247, 1.0);
    border-radius: 5px;
}

.elementoreg {
    background-image: linear-gradient(180deg, #9998af 0%, #6e6d8e 100%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.title {
    padding: 15px;
}

.buttonstyles {
    margin: 10px;
}

.message {
    text-align: center;
}